@import "../../styles/global.scss";

modal {
    width: 60rem;
    height: 100rem;
}

.likes-modal {
    padding-top: 2.25rem;
    font-size: 1.4rem;
    position: relative;
    padding: 0.5rem 2rem;

    &__top {
        display: flex;
        margin-bottom: 5%;
    }

    &__icon {
        width: 10%;
        border-radius: 100%;
    }

    &__header {
        padding-bottom: 0.7rem;
        font-family: 'Roboto';
    }

    &__closeButton {
        height: 2rem;
        position: absolute;
        top: 1%;
        right: 3%;
    }

    &__alert {
        font-family: 'Roboto';
        line-height: 1.5rem;
        font-size: 0.8rem;
        padding-right: 15%;
    }
    &__images {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    &__image {
        width: 30%;
        margin-bottom: 2%;
    }
}


.ReactModal__Content--after-open {
    height: 60rem;
    width: 100rem;
}

.ReactModal__Content {
    margin-top: 5rem;
    height: 40rem;
    width: 60rem;
}

.ReactModal__Overlay--after-open,
.ReactModal__Overlay--after-open {
    background-color: rgba(19, 24, 44, 0.7) !important; //sorry have no idea how to change element styling. Searched for it extensively!
}