.Ads {
  width: 100%;
  padding: 1%;
  &__header {
    font-size: 2rem;
  }
  &__paraBox {
    display: flex;
    flex-direction: row;
    margin: 1vw 0;
  }
  &__para {
    margin-right: 1%;
  }
  &__link {
    text-decoration: none;
  }
  &__button {
    height: 40px;
    background-color: #d44539;
    width: 250px;
    color: white;
    border-radius: 20px;
    border: none;
  }
}
