@import "../../styles/global.scss";

.footer {
  display: flex;
  width: 100%;
  flex-direction: column;

  &__blocks {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 3%;
  }
  &__block1 {
    background-image: url("../../assets/images/Musician.jpg");
    background-repeat: no-repeat;
    background-size: fill;
    background-position: center;
    color: white;
    width: 100%;
    font-family: "Roboto";
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    background-color: #c4c4c4;
    font-size: 2rem;
    text-align: center;
    margin: 2% 0;
  }
  &__block2 {
    background-image: url("../../assets/images/Grasping.jpg");
    background-repeat: no-repeat;
    background-size: fill;
    background-position: center;
    width: 100%;
    color: white;
    font-family: "Roboto";
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    background-color: #c4c4c4;
    font-size: 2rem;
    text-align: center;
    margin: 2% 0;
  }
  &__main {
    background-color: #0e131a;
    color: white;
    display: flex;
    flex-flow: row wrap;
    font-family: "Roboto";
    justify-content: space-around;
    padding-bottom: 3%;
  }
  &__main-header {
    width: 80%;
    padding: 2% 2% 3% 2%;
    color: #c4c4c4;
  }
  &__span {
    font-weight: 700;
    color: white;
  }
  &__search-div {
    width: 20%;
    padding: 1.5%;
  }
  &__link-header {
    margin-bottom: 15%;
  }
  &__links {
    font-size: 0.7rem;
    margin-bottom: 15%;
    color: #c4c4c4;
  }
  &__search {
    border-radius: 10px;
    border: none;
    height: 25px;
    padding-left: 2%;
    font-size: 0.7rem;
    color: #c4c4c4;
  }
  &__bottom {
    padding: 3%;
    background-color: #0e131a;
    border-top: 1px solid #c4c4c4;
    color: white;
    display: flex;
    font-family: "Roboto";
  }
  &__copyright {
    font-size: 0.7rem;
    color: #c4c4c4;
    padding-left: 3%;
  }
}
