@import "../../styles/global.scss";


.footer {
    display: flex;
    width: 100%;
    flex-direction: column;

    &__blocks {
        display: flex;
        width: 100%;
        flex-direction: row;
        justify-content: space-around;
        margin-bottom: 3%;
    }
    &__block {
        width: 48%;
        font-family: 'Roboto';
        font-weight: 500;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 200px;
        background-color: #C4c4c4;
        font-size: 2rem;
        text-align: center;
    }
    &__main {
        background-color: black;
        color: white;
        display: flex;
        flex-flow: row wrap;
        font-family: 'Roboto';
        justify-content: space-around;
    }
    &__main-header {
        width: 100%;
        padding: 2%;
    }
    &__span {
        font-weight: 700;
    }
    &__links {
        font-size: 0.7rem;
    }
}