.Header {
  &__image {
    background-image: url("../../assets/images/Zenzen.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100vw;
    height: 35vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__searchbar {
    display: flex;
    height: 10%;
    border-radius: 6px;
    background-color: rgba(255, 255, 255, 0.7);
  }
  &__searchDrop {
    width: 200px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 1px solid grey;
  }
  &__dropText {
    margin: 0 4%;
  }
  &__search {
    height: 100%;
    width: 60vw;
    background: none;
    border: none;
    padding: 0 1vw;
  }
  &__iconBox {
    width: 3vw;
    background-color: #37fcff;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__icon {
    height: 50%;
    width: 50%;
  }
}
